#root {
  text-align: center;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #f7df1e);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.doc-stars {
  position: absolute;
}

.doc-stars--sm {
  animation: animateStar 70s linear infinite;
  background: transparent;
  border-radius: 100%;
  box-shadow: 5259px 6337px #f5f5f5, 1242px 3446px #f5f5f5,
    3485px 6858px #f5f5f5, 4954px 6879px #f5f5f5, 3951px 5249px #f5f5f5,
    926px 4916px #f5f5f5, 3191px 5112px #f5f5f5, 3033px 6310px #f5f5f5,
    3785px 5525px #f5f5f5, 486px 6461px #f5f5f5, 2796px 411px #f5f5f5,
    3690px 3777px #f5f5f5, 5516px 3212px #f5f5f5, 3097px 2843px #f5f5f5,
    4250px 4036px #f5f5f5, 353px 865px #f5f5f5, 3716px 4388px #f5f5f5,
    4005px 5293px #f5f5f5, 6263px 5452px #f5f5f5, 5902px 5314px #f5f5f5,
    1018px 1798px #f5f5f5, 4410px 6767px #f5f5f5, 6128px 180px #f5f5f5,
    2364px 5454px #f5f5f5, 3900px 4818px #f5f5f5, 2326px 6977px #f5f5f5,
    2012px 3823px #f5f5f5, 3932px 4037px #f5f5f5, 6655px 3473px #f5f5f5,
    3508px 1320px #f5f5f5, 2084px 6748px #f5f5f5, 1092px 5525px #f5f5f5,
    1851px 6284px #f5f5f5, 1002px 1167px #f5f5f5, 5111px 5611px #f5f5f5,
    6117px 4084px #f5f5f5, 384px 5299px #f5f5f5, 4000px 1634px #f5f5f5,
    6079px 2578px #f5f5f5, 5744px 3823px #f5f5f5, 6098px 2061px #f5f5f5,
    1839px 1005px #f5f5f5, 558px 6352px #f5f5f5, 4218px 4435px #f5f5f5,
    2034px 4154px #f5f5f5, 516px 590px #f5f5f5, 3914px 3727px #f5f5f5,
    4095px 6187px #f5f5f5, 4757px 4641px #f5f5f5, 4802px 4270px #f5f5f5,
    5453px 4668px #f5f5f5, 5975px 3804px #f5f5f5, 6498px 314px #f5f5f5,
    3589px 664px #f5f5f5, 2354px 5530px #f5f5f5, 6930px 3727px #f5f5f5,
    1054px 971px #f5f5f5, 5242px 5307px #f5f5f5, 4453px 2194px #f5f5f5,
    1228px 5043px #f5f5f5, 3940px 5825px #f5f5f5, 1486px 1885px #f5f5f5,
    4707px 5419px #f5f5f5, 332px 867px #f5f5f5, 5687px 2654px #f5f5f5,
    759px 4176px #f5f5f5, 6019px 1223px #f5f5f5, 6955px 6343px #f5f5f5,
    4536px 5710px #f5f5f5, 6018px 2441px #f5f5f5, 1903px 4109px #f5f5f5,
    1280px 976px #f5f5f5, 2871px 655px #f5f5f5, 703px 1960px #f5f5f5,
    6020px 6450px #f5f5f5, 438px 224px #f5f5f5, 6904px 3520px #f5f5f5,
    6905px 5347px #f5f5f5, 4557px 3311px #f5f5f5, 4553px 5651px #f5f5f5,
    5411px 100px #f5f5f5, 2464px 3031px #f5f5f5, 5096px 4816px #f5f5f5,
    4723px 3447px #f5f5f5, 730px 6167px #f5f5f5, 519px 4516px #f5f5f5,
    6968px 3079px #f5f5f5, 664px 6769px #f5f5f5, 5432px 2430px #f5f5f5,
    4948px 724px #f5f5f5, 1708px 432px #f5f5f5, 2517px 3240px #f5f5f5,
    743px 1548px #f5f5f5, 6139px 4695px #f5f5f5, 6843px 4370px #f5f5f5,
    532px 2142px #f5f5f5, 214px 395px #f5f5f5, 6268px 1834px #f5f5f5,
    461px 6699px #f5f5f5, 1362px 5196px #f5f5f5, 5029px 3874px #f5f5f5,
    880px 4312px #f5f5f5, 5985px 3118px #f5f5f5, 4473px 1737px #f5f5f5,
    1137px 2978px #f5f5f5, 4530px 1161px #f5f5f5, 3755px 3637px #f5f5f5,
    1326px 6096px #f5f5f5, 2999px 5312px #f5f5f5, 5807px 1607px #f5f5f5,
    35px 1504px #f5f5f5, 1148px 313px #f5f5f5, 6538px 2998px #f5f5f5,
    4989px 4578px #f5f5f5, 4017px 593px #f5f5f5, 3880px 987px #f5f5f5,
    4211px 2128px #f5f5f5, 4308px 5189px #f5f5f5, 5453px 2485px #f5f5f5,
    1513px 4544px #f5f5f5, 4631px 912px #f5f5f5, 2104px 891px #f5f5f5,
    469px 216px #f5f5f5, 3970px 6409px #f5f5f5, 5748px 3731px #f5f5f5,
    6759px 2000px #f5f5f5, 2229px 1383px #f5f5f5, 6455px 2749px #f5f5f5,
    1657px 5480px #f5f5f5, 3563px 34px #f5f5f5, 2441px 1593px #f5f5f5,
    3562px 4921px #f5f5f5, 6764px 3570px #f5f5f5, 5346px 5529px #f5f5f5,
    3631px 4384px #f5f5f5, 6449px 2156px #f5f5f5, 5879px 5582px #f5f5f5,
    2078px 2427px #f5f5f5, 2714px 2461px #f5f5f5, 4722px 4090px #f5f5f5,
    4261px 4565px #f5f5f5, 6327px 1866px #f5f5f5, 1717px 1055px #f5f5f5,
    5875px 2993px #f5f5f5, 3180px 6354px #f5f5f5, 2629px 3618px #f5f5f5,
    127px 1328px #f5f5f5, 1527px 2158px #f5f5f5, 1966px 176px #f5f5f5,
    569px 6837px #f5f5f5, 6882px 5114px #f5f5f5, 4774px 3670px #f5f5f5,
    2519px 1891px #f5f5f5, 2102px 4400px #f5f5f5, 5589px 1033px #f5f5f5,
    1369px 6309px #f5f5f5, 1516px 5895px #f5f5f5, 1074px 357px #f5f5f5,
    2724px 6736px #f5f5f5, 4171px 2974px #f5f5f5, 223px 1367px #f5f5f5,
    1839px 6690px #f5f5f5, 481px 90px #f5f5f5, 4457px 4225px #f5f5f5,
    940px 570px #f5f5f5, 110px 1225px #f5f5f5, 194px 3730px #f5f5f5,
    2523px 3217px #f5f5f5, 5461px 4562px #f5f5f5, 1368px 3014px #f5f5f5,
    1394px 411px #f5f5f5, 4134px 4235px #f5f5f5, 2891px 3363px #f5f5f5,
    1782px 1351px #f5f5f5, 6461px 618px #f5f5f5, 392px 6104px #f5f5f5,
    590px 2114px #f5f5f5, 6114px 4264px #f5f5f5, 6271px 1432px #f5f5f5,
    2765px 2999px #f5f5f5, 101px 2961px #f5f5f5, 1939px 5601px #f5f5f5,
    6423px 4066px #f5f5f5, 1454px 1406px #f5f5f5, 1624px 1176px #f5f5f5,
    2314px 3758px #f5f5f5, 5558px 4517px #f5f5f5, 1399px 6123px #f5f5f5,
    4329px 8px #f5f5f5, 5806px 2735px #f5f5f5, 1685px 5129px #f5f5f5,
    426px 4180px #f5f5f5, 64px 1437px #f5f5f5, 4600px 1689px #f5f5f5,
    749px 886px #f5f5f5, 5833px 1526px #f5f5f5, 2385px 6771px #f5f5f5,
    3355px 1221px #f5f5f5, 5245px 5965px #f5f5f5, 2375px 5575px #f5f5f5,
    3564px 6567px #f5f5f5, 6964px 2034px #f5f5f5, 562px 365px #f5f5f5,
    6243px 4316px #f5f5f5, 502px 3042px #f5f5f5, 3727px 2653px #f5f5f5,
    3993px 661px #f5f5f5, 2208px 5686px #f5f5f5, 3314px 2628px #f5f5f5,
    3165px 6137px #f5f5f5, 3524px 6926px #f5f5f5, 2678px 5476px #f5f5f5,
    4723px 3598px #f5f5f5, 6825px 2722px #f5f5f5, 473px 5126px #f5f5f5,
    3045px 2382px #f5f5f5, 4673px 6186px #f5f5f5, 6448px 3784px #f5f5f5,
    2848px 4959px #f5f5f5, 2844px 2040px #f5f5f5, 5380px 903px #f5f5f5,
    1900px 2062px #f5f5f5, 2739px 28px #f5f5f5, 3653px 6842px #f5f5f5,
    5097px 5776px #f5f5f5, 4618px 266px #f5f5f5, 2837px 2588px #f5f5f5,
    6976px 5219px #f5f5f5, 6167px 930px #f5f5f5, 6716px 4137px #f5f5f5,
    6732px 2799px #f5f5f5, 1568px 1264px #f5f5f5, 3939px 403px #f5f5f5,
    5861px 1843px #f5f5f5, 4616px 4799px #f5f5f5, 359px 1654px #f5f5f5,
    6233px 4384px #f5f5f5, 6285px 6365px #f5f5f5, 2539px 4519px #f5f5f5,
    6451px 1559px #f5f5f5, 2835px 5464px #f5f5f5, 638px 5288px #f5f5f5,
    4329px 3500px #f5f5f5, 1627px 770px #f5f5f5, 2763px 752px #f5f5f5,
    5266px 4422px #f5f5f5, 269px 4543px #f5f5f5, 5633px 2310px #f5f5f5,
    5941px 982px #f5f5f5, 4692px 6366px #f5f5f5, 329px 4416px #f5f5f5,
    6841px 3646px #f5f5f5, 4948px 4311px #f5f5f5, 1658px 1055px #f5f5f5,
    1464px 4922px #f5f5f5, 729px 589px #f5f5f5, 5715px 6713px #f5f5f5,
    3042px 2861px #f5f5f5, 4189px 5393px #f5f5f5, 1274px 950px #f5f5f5,
    178px 3615px #f5f5f5, 6862px 3932px #f5f5f5, 1538px 6630px #f5f5f5,
    5486px 5324px #f5f5f5, 4966px 827px #f5f5f5, 3301px 4606px #f5f5f5,
    6644px 6690px #f5f5f5, 5392px 5960px #f5f5f5, 795px 4157px #f5f5f5,
    3213px 6624px #f5f5f5, 2183px 1245px #f5f5f5, 842px 2345px #f5f5f5,
    6463px 273px #f5f5f5, 5263px 811px #f5f5f5, 6653px 6704px #f5f5f5,
    261px 3094px #f5f5f5, 6312px 2893px #f5f5f5, 1427px 1088px #f5f5f5,
    6093px 4681px #f5f5f5, 1880px 4439px #f5f5f5, 2638px 6553px #f5f5f5,
    4313px 3699px #f5f5f5, 6135px 5848px #f5f5f5, 5275px 66px #f5f5f5,
    3808px 440px #f5f5f5, 5566px 207px #f5f5f5, 6921px 1206px #f5f5f5,
    5510px 4040px #f5f5f5, 1750px 5922px #f5f5f5, 2758px 3902px #f5f5f5,
    6200px 5522px #f5f5f5, 451px 5778px #f5f5f5, 6266px 2673px #f5f5f5,
    6834px 1799px #f5f5f5, 4823px 3147px #f5f5f5, 6538px 3491px #f5f5f5,
    1514px 1996px #f5f5f5, 4313px 195px #f5f5f5, 4519px 1225px #f5f5f5,
    6638px 3384px #f5f5f5, 3050px 2699px #f5f5f5, 4863px 4799px #f5f5f5,
    3010px 4572px #f5f5f5, 6832px 1542px #f5f5f5, 5332px 391px #f5f5f5,
    4390px 2529px #f5f5f5, 1154px 6981px #f5f5f5, 4008px 6013px #f5f5f5,
    4650px 3602px #f5f5f5, 1376px 4150px #f5f5f5, 5986px 4906px #f5f5f5,
    749px 3651px #f5f5f5, 3815px 2611px #f5f5f5, 6965px 2263px #f5f5f5,
    2678px 5645px #f5f5f5, 3380px 397px #f5f5f5, 6275px 3068px #f5f5f5,
    3307px 3893px #f5f5f5, 5159px 761px #f5f5f5, 6257px 5073px #f5f5f5,
    4696px 4144px #f5f5f5, 1122px 4870px #f5f5f5, 2159px 3819px #f5f5f5,
    3106px 4436px #f5f5f5, 5194px 6780px #f5f5f5, 3579px 6697px #f5f5f5,
    6680px 2777px #f5f5f5, 3539px 5564px #f5f5f5, 5478px 211px #f5f5f5,
    4592px 6894px #f5f5f5, 4922px 3837px #f5f5f5, 1529px 3608px #f5f5f5,
    5400px 6811px #f5f5f5, 2105px 402px #f5f5f5, 3023px 6705px #f5f5f5,
    3521px 760px #f5f5f5, 3284px 3615px #f5f5f5, 5684px 6952px #f5f5f5,
    6857px 5057px #f5f5f5, 5505px 1157px #f5f5f5, 5371px 4453px #f5f5f5,
    6664px 934px #f5f5f5, 3989px 4785px #f5f5f5, 5173px 5592px #f5f5f5,
    807px 6346px #f5f5f5, 6927px 5914px #f5f5f5, 1357px 2018px #f5f5f5,
    326px 6048px #f5f5f5, 4012px 6830px #f5f5f5, 612px 6156px #f5f5f5,
    1124px 1319px #f5f5f5, 3644px 2124px #f5f5f5, 5100px 4138px #f5f5f5,
    2084px 3546px #f5f5f5, 4293px 4151px #f5f5f5, 6882px 5476px #f5f5f5,
    4863px 3237px #f5f5f5, 6526px 5455px #f5f5f5, 6655px 5940px #f5f5f5,
    4977px 6903px #f5f5f5, 6331px 3914px #f5f5f5, 3004px 4723px #f5f5f5,
    5538px 2894px #f5f5f5, 1322px 377px #f5f5f5, 3357px 6371px #f5f5f5,
    415px 3708px #f5f5f5, 2561px 6681px #f5f5f5, 5330px 4449px #f5f5f5,
    4372px 2937px #f5f5f5, 4830px 2059px #f5f5f5, 2153px 5256px #f5f5f5,
    5018px 5163px #f5f5f5, 4647px 3962px #f5f5f5, 181px 5850px #f5f5f5,
    4777px 4773px #f5f5f5, 5018px 1101px #f5f5f5, 3655px 603px #f5f5f5,
    1451px 4622px #f5f5f5, 4097px 795px #f5f5f5, 4251px 633px #f5f5f5,
    6581px 2553px #f5f5f5, 5343px 4539px #f5f5f5, 4320px 1117px #f5f5f5,
    6790px 191px #f5f5f5, 2308px 2564px #f5f5f5, 3502px 6668px #f5f5f5,
    2419px 5878px #f5f5f5, 1549px 1695px #f5f5f5, 1880px 6395px #f5f5f5,
    3960px 4249px #f5f5f5, 2446px 3981px #f5f5f5, 2990px 4168px #f5f5f5,
    141px 6724px #f5f5f5, 2768px 6659px #f5f5f5, 4438px 2785px #f5f5f5,
    6544px 3344px #f5f5f5, 5902px 2303px #f5f5f5, 3677px 6142px #f5f5f5,
    2620px 508px #f5f5f5, 4751px 3871px #f5f5f5, 5294px 1165px #f5f5f5,
    6628px 3269px #f5f5f5, 5065px 4591px #f5f5f5, 565px 5437px #f5f5f5,
    5087px 1676px #f5f5f5, 1699px 3640px #f5f5f5, 2917px 2783px #f5f5f5,
    5306px 247px #f5f5f5, 3220px 1989px #f5f5f5, 35px 5045px #f5f5f5,
    6330px 5319px #f5f5f5, 1629px 5613px #f5f5f5, 146px 3189px #f5f5f5,
    3491px 5319px #f5f5f5, 2328px 4416px #f5f5f5, 2006px 4476px #f5f5f5,
    2929px 2747px #f5f5f5, 3092px 661px #f5f5f5, 2764px 3345px #f5f5f5,
    3940px 269px #f5f5f5, 1989px 629px #f5f5f5, 1913px 512px #f5f5f5,
    6244px 3267px #f5f5f5, 2842px 235px #f5f5f5, 2668px 1428px #f5f5f5,
    56px 1256px #f5f5f5, 5597px 3738px #f5f5f5, 3754px 5652px #f5f5f5,
    6904px 5877px #f5f5f5, 712px 2002px #f5f5f5, 1969px 802px #f5f5f5,
    4848px 2362px #f5f5f5, 6644px 5395px #f5f5f5, 2168px 2233px #f5f5f5,
    694px 4967px #f5f5f5, 3809px 3622px #f5f5f5, 903px 3960px #f5f5f5,
    1890px 4428px #f5f5f5, 428px 4376px #f5f5f5, 6025px 5455px #f5f5f5,
    3554px 2740px #f5f5f5, 4611px 2785px #f5f5f5, 4658px 597px #f5f5f5,
    2995px 6888px #f5f5f5, 6815px 6717px #f5f5f5, 6517px 1615px #f5f5f5,
    674px 4000px #f5f5f5, 752px 1952px #f5f5f5, 2389px 4286px #f5f5f5,
    6519px 2986px #f5f5f5, 6941px 1481px #f5f5f5, 6402px 4197px #f5f5f5,
    4636px 5221px #f5f5f5, 2963px 5233px #f5f5f5, 120px 3311px #f5f5f5,
    6631px 1438px #f5f5f5, 6573px 271px #f5f5f5, 2920px 711px #f5f5f5,
    4394px 6137px #f5f5f5, 4550px 6945px #f5f5f5, 3516px 5500px #f5f5f5,
    3330px 4679px #f5f5f5, 3699px 3241px #f5f5f5, 6365px 5289px #f5f5f5,
    3956px 773px #f5f5f5, 577px 1738px #f5f5f5, 3652px 6107px #f5f5f5,
    5560px 6858px #f5f5f5, 1426px 1175px #f5f5f5, 18px 5620px #f5f5f5,
    3535px 275px #f5f5f5, 1048px 3071px #f5f5f5, 4628px 518px #f5f5f5,
    4280px 3752px #f5f5f5, 3941px 3087px #f5f5f5, 2831px 3763px #f5f5f5,
    5945px 5092px #f5f5f5, 6486px 516px #f5f5f5, 4408px 6047px #f5f5f5,
    4706px 5257px #f5f5f5, 5847px 2252px #f5f5f5, 1450px 2791px #f5f5f5,
    5496px 2785px #f5f5f5, 5218px 6265px #f5f5f5, 4110px 203px #f5f5f5,
    5878px 1807px #f5f5f5, 5877px 5622px #f5f5f5, 732px 734px #f5f5f5,
    1172px 1028px #f5f5f5, 166px 1963px #f5f5f5, 6174px 781px #f5f5f5,
    4550px 1847px #f5f5f5, 3809px 5093px #f5f5f5, 6036px 1334px #f5f5f5,
    5372px 3010px #f5f5f5, 3621px 2094px #f5f5f5, 2586px 2072px #f5f5f5,
    2661px 5256px #f5f5f5, 6940px 683px #f5f5f5, 5759px 259px #f5f5f5,
    5413px 6001px #f5f5f5, 3568px 1894px #f5f5f5, 247px 4564px #f5f5f5,
    6392px 4733px #f5f5f5, 2081px 275px #f5f5f5, 1264px 1803px #f5f5f5,
    2561px 3638px #f5f5f5, 4156px 1907px #f5f5f5, 4750px 694px #f5f5f5,
    5684px 6919px #f5f5f5, 1795px 2668px #f5f5f5, 5157px 4px #f5f5f5,
    264px 143px #f5f5f5, 4869px 1703px #f5f5f5, 6352px 5434px #f5f5f5,
    1636px 6044px #f5f5f5, 4339px 4405px #f5f5f5, 3782px 1787px #f5f5f5,
    1764px 6874px #f5f5f5, 4955px 1065px #f5f5f5, 1704px 1834px #f5f5f5,
    4536px 376px #f5f5f5, 2389px 5950px #f5f5f5, 5397px 1103px #f5f5f5,
    241px 6385px #f5f5f5, 4739px 6437px #f5f5f5, 857px 6401px #f5f5f5,
    1905px 6006px #f5f5f5, 5764px 4507px #f5f5f5, 5683px 2738px #f5f5f5,
    841px 3500px #f5f5f5, 4459px 6231px #f5f5f5, 6174px 4311px #f5f5f5,
    3949px 908px #f5f5f5, 1848px 6130px #f5f5f5, 990px 949px #f5f5f5,
    4086px 3346px #f5f5f5, 1883px 1338px #f5f5f5, 1673px 5720px #f5f5f5,
    6562px 1538px #f5f5f5, 4743px 5457px #f5f5f5, 2642px 5684px #f5f5f5,
    6304px 1429px #f5f5f5, 842px 72px #f5f5f5, 3645px 654px #f5f5f5,
    4856px 6452px #f5f5f5, 2670px 1488px #f5f5f5, 6113px 2059px #f5f5f5,
    3942px 3133px #f5f5f5, 6326px 4441px #f5f5f5, 1177px 3102px #f5f5f5,
    2610px 5522px #f5f5f5, 1764px 3055px #f5f5f5, 6043px 3497px #f5f5f5,
    6294px 241px #f5f5f5, 5360px 3770px #f5f5f5, 2426px 6543px #f5f5f5,
    5824px 4673px #f5f5f5, 346px 5564px #f5f5f5, 4886px 2172px #f5f5f5,
    6247px 1242px #f5f5f5, 6015px 603px #f5f5f5, 3600px 3180px #f5f5f5,
    5756px 5726px #f5f5f5, 377px 1456px #f5f5f5, 5302px 1327px #f5f5f5,
    3937px 2441px #f5f5f5, 3121px 487px #f5f5f5, 6166px 296px #f5f5f5,
    1642px 1147px #f5f5f5, 5878px 5551px #f5f5f5, 4816px 5329px #f5f5f5,
    559px 2067px #f5f5f5, 3236px 3503px #f5f5f5, 4257px 3308px #f5f5f5,
    4653px 3548px #f5f5f5, 6257px 2743px #f5f5f5, 3302px 6629px #f5f5f5,
    140px 6180px #f5f5f5, 6369px 1237px #f5f5f5, 5209px 5418px #f5f5f5,
    5397px 318px #f5f5f5, 3776px 5107px #f5f5f5, 6597px 3770px #f5f5f5,
    2814px 1043px #f5f5f5, 5386px 2499px #f5f5f5, 765px 4974px #f5f5f5,
    4194px 2912px #f5f5f5, 6507px 835px #f5f5f5, 1367px 3895px #f5f5f5,
    4646px 322px #f5f5f5, 1060px 3411px #f5f5f5, 4726px 3687px #f5f5f5,
    3304px 3262px #f5f5f5, 6087px 4632px #f5f5f5, 527px 4508px #f5f5f5,
    5000px 288px #f5f5f5, 6737px 3080px #f5f5f5, 3351px 3685px #f5f5f5,
    6947px 248px #f5f5f5, 5913px 5501px #f5f5f5, 3661px 1454px #f5f5f5,
    6038px 4576px #f5f5f5, 4626px 6584px #f5f5f5, 5965px 3411px #f5f5f5,
    6477px 1142px #f5f5f5, 1001px 5663px #f5f5f5, 4851px 3028px #f5f5f5,
    5294px 1329px #f5f5f5, 879px 941px #f5f5f5, 4653px 6254px #f5f5f5,
    1578px 1713px #f5f5f5, 3302px 6013px #f5f5f5, 6153px 3460px #f5f5f5,
    1090px 5583px #f5f5f5, 3808px 1610px #f5f5f5, 5693px 5957px #f5f5f5,
    5863px 821px #f5f5f5, 3782px 6084px #f5f5f5, 5632px 2821px #f5f5f5,
    776px 5466px #f5f5f5, 5296px 5709px #f5f5f5, 529px 2701px #f5f5f5,
    870px 5965px #f5f5f5, 216px 4608px #f5f5f5, 1216px 4833px #f5f5f5,
    588px 1817px #f5f5f5, 3743px 4901px #f5f5f5, 4482px 3673px #f5f5f5,
    4326px 2508px #f5f5f5, 5195px 1013px #f5f5f5, 6286px 5111px #f5f5f5,
    3455px 3260px #f5f5f5, 3841px 5795px #f5f5f5, 1662px 3601px #f5f5f5,
    5844px 4960px #f5f5f5, 5934px 4586px #f5f5f5, 3865px 1741px #f5f5f5,
    366px 29px #f5f5f5, 1598px 6714px #f5f5f5, 992px 3778px #f5f5f5,
    6160px 324px #f5f5f5, 506px 6932px #f5f5f5, 1713px 4130px #f5f5f5,
    5615px 718px #f5f5f5, 2787px 4753px #f5f5f5, 3089px 2346px #f5f5f5,
    143px 2252px #f5f5f5, 4439px 5446px #f5f5f5, 6246px 856px #f5f5f5,
    88px 2015px #f5f5f5, 2973px 186px #f5f5f5, 4438px 1592px #f5f5f5,
    6051px 4696px #f5f5f5, 3770px 1715px #f5f5f5, 5007px 6723px #f5f5f5,
    1047px 1731px #f5f5f5, 5517px 3840px #f5f5f5, 3341px 4368px #f5f5f5,
    4483px 4620px #f5f5f5, 702px 3592px #f5f5f5, 401px 3712px #f5f5f5,
    3184px 1117px #f5f5f5, 1475px 5266px #f5f5f5, 726px 1682px #f5f5f5,
    1401px 4860px #f5f5f5, 3012px 5748px #f5f5f5, 4513px 6623px #f5f5f5,
    3992px 2270px #f5f5f5, 2787px 2564px #f5f5f5, 3660px 3398px #f5f5f5,
    2438px 48px #f5f5f5, 6620px 6272px #f5f5f5, 3765px 3981px #f5f5f5,
    6105px 2572px #f5f5f5, 3528px 5497px #f5f5f5, 1624px 1153px #f5f5f5,
    6939px 3679px #f5f5f5, 2407px 3508px #f5f5f5, 6518px 3880px #f5f5f5,
    1204px 1619px #f5f5f5, 1491px 1926px #f5f5f5, 1069px 1278px #f5f5f5,
    213px 4508px #f5f5f5, 476px 5088px #f5f5f5, 2665px 4339px #f5f5f5,
    4433px 6609px #f5f5f5, 6060px 3263px #f5f5f5, 3709px 4995px #f5f5f5,
    4949px 4769px #f5f5f5, 2106px 1779px #f5f5f5, 31px 6438px #f5f5f5,
    1104px 5226px #f5f5f5, 801px 4483px #f5f5f5, 4704px 4842px #f5f5f5,
    5581px 4802px #f5f5f5, 505px 6627px #f5f5f5, 5814px 3412px #f5f5f5,
    6327px 2834px #f5f5f5, 5910px 1808px #f5f5f5, 5038px 1198px #f5f5f5;
  height: 1px;
  width: 1px;
}

.doc-stars--md {
  animation: animateStar 100s linear infinite;
  background: transparent;
  border-radius: 100%;
  box-shadow: 716px 5486px #f7df1e, 4745px 747px #f7df1e, 6938px 5661px #f7df1e,
    2344px 2303px #f7df1e, 6905px 6876px #f7df1e, 726px 5789px #f7df1e,
    2926px 4367px #f7df1e, 101px 3001px #f7df1e, 2249px 564px #f7df1e,
    3231px 3186px #f7df1e, 2587px 3756px #f7df1e, 4121px 1450px #f7df1e,
    5345px 3603px #f7df1e, 1054px 2409px #f7df1e, 148px 3137px #f7df1e,
    487px 6407px #f7df1e, 5849px 2714px #f7df1e, 2730px 2705px #f7df1e,
    3688px 5288px #f7df1e, 773px 4794px #f7df1e, 6737px 5874px #f7df1e,
    3666px 5192px #f7df1e, 324px 4841px #f7df1e, 5859px 1990px #f7df1e,
    6513px 2484px #f7df1e, 5371px 1003px #f7df1e, 5784px 3900px #f7df1e,
    5896px 1651px #f7df1e, 6523px 196px #f7df1e, 4704px 5214px #f7df1e,
    2309px 6824px #f7df1e, 1511px 3767px #f7df1e, 6059px 2996px #f7df1e,
    6767px 3683px #f7df1e, 242px 4557px #f7df1e, 2311px 787px #f7df1e,
    3313px 3299px #f7df1e, 532px 3439px #f7df1e, 3904px 4678px #f7df1e,
    3866px 4763px #f7df1e, 5358px 5836px #f7df1e, 1388px 2176px #f7df1e,
    6975px 3834px #f7df1e, 2966px 3314px #f7df1e, 5709px 1481px #f7df1e,
    4320px 1464px #f7df1e, 2994px 5221px #f7df1e, 1102px 4683px #f7df1e,
    1234px 3429px #f7df1e, 6572px 6647px #f7df1e, 528px 961px #f7df1e,
    1101px 3451px #f7df1e, 4413px 5497px #f7df1e, 3791px 3440px #f7df1e,
    5912px 5093px #f7df1e, 2230px 5297px #f7df1e, 168px 4725px #f7df1e,
    1562px 3717px #f7df1e, 4998px 5667px #f7df1e, 5564px 1785px #f7df1e,
    6752px 1760px #f7df1e, 1325px 43px #f7df1e, 1896px 3012px #f7df1e,
    3316px 6409px #f7df1e, 5346px 289px #f7df1e, 6028px 5495px #f7df1e,
    2407px 3103px #f7df1e, 4202px 5330px #f7df1e, 854px 3381px #f7df1e,
    3313px 6885px #f7df1e, 3119px 5478px #f7df1e, 4197px 3094px #f7df1e,
    5967px 1547px #f7df1e, 1708px 2633px #f7df1e, 6294px 6906px #f7df1e,
    6361px 3955px #f7df1e, 491px 1838px #f7df1e, 293px 3768px #f7df1e,
    6119px 240px #f7df1e, 6672px 4191px #f7df1e, 3719px 452px #f7df1e,
    6149px 2471px #f7df1e, 1086px 2233px #f7df1e, 3657px 2862px #f7df1e,
    5570px 5239px #f7df1e, 5672px 4902px #f7df1e, 1939px 1207px #f7df1e,
    2932px 2541px #f7df1e, 5393px 2629px #f7df1e, 586px 165px #f7df1e,
    5380px 4209px #f7df1e, 1342px 5697px #f7df1e, 2633px 6805px #f7df1e,
    2469px 3254px #f7df1e, 2131px 3463px #f7df1e, 2921px 2884px #f7df1e,
    4113px 5760px #f7df1e, 6670px 3843px #f7df1e, 1233px 3831px #f7df1e,
    4393px 483px #f7df1e, 817px 14px #f7df1e, 1769px 4636px #f7df1e,
    3881px 1590px #f7df1e, 5144px 2260px #f7df1e, 5744px 3736px #f7df1e,
    2566px 4229px #f7df1e, 4150px 6062px #f7df1e, 6314px 3997px #f7df1e,
    2767px 5434px #f7df1e, 1855px 5115px #f7df1e, 2920px 2862px #f7df1e,
    3122px 6160px #f7df1e, 652px 2358px #f7df1e, 2785px 199px #f7df1e,
    2558px 5273px #f7df1e, 382px 5241px #f7df1e, 3109px 11px #f7df1e,
    2761px 3999px #f7df1e, 2364px 2562px #f7df1e, 2768px 1356px #f7df1e,
    6215px 3401px #f7df1e, 909px 609px #f7df1e, 4619px 773px #f7df1e,
    2062px 6879px #f7df1e, 3043px 6715px #f7df1e, 4609px 4396px #f7df1e,
    6442px 4959px #f7df1e, 3397px 6820px #f7df1e, 4275px 4403px #f7df1e,
    4933px 1002px #f7df1e, 4732px 4690px #f7df1e, 4849px 1883px #f7df1e,
    3347px 857px #f7df1e, 544px 2031px #f7df1e, 4538px 5227px #f7df1e,
    5207px 6176px #f7df1e, 4827px 2948px #f7df1e, 514px 2880px #f7df1e,
    682px 6623px #f7df1e, 148px 4628px #f7df1e, 899px 4560px #f7df1e,
    3620px 6007px #f7df1e, 5447px 5268px #f7df1e, 688px 2491px #f7df1e,
    3931px 6253px #f7df1e, 6743px 6001px #f7df1e, 496px 708px #f7df1e,
    4957px 1476px #f7df1e, 158px 1284px #f7df1e, 3944px 5267px #f7df1e,
    1725px 5497px #f7df1e, 2617px 225px #f7df1e, 5536px 6491px #f7df1e,
    2513px 1164px #f7df1e, 1121px 6589px #f7df1e, 6045px 247px #f7df1e,
    1735px 3510px #f7df1e, 1285px 2294px #f7df1e, 3534px 2830px #f7df1e,
    7px 4852px #f7df1e, 3153px 1518px #f7df1e, 1880px 4828px #f7df1e,
    3958px 3736px #f7df1e, 71px 5526px #f7df1e, 5918px 858px #f7df1e,
    839px 3975px #f7df1e, 6714px 1069px #f7df1e, 2948px 5204px #f7df1e,
    5655px 122px #f7df1e, 5736px 5005px #f7df1e, 3695px 6992px #f7df1e,
    2308px 6626px #f7df1e, 4853px 6147px #f7df1e, 2267px 6035px #f7df1e,
    1225px 6432px #f7df1e, 525px 4397px #f7df1e, 750px 5129px #f7df1e,
    5897px 2654px #f7df1e, 5095px 3046px #f7df1e, 5119px 3044px #f7df1e,
    20px 720px #f7df1e, 5767px 3648px #f7df1e, 5023px 5885px #f7df1e,
    214px 3297px #f7df1e, 295px 6490px #f7df1e, 3649px 6725px #f7df1e,
    6154px 6656px #f7df1e, 3361px 4082px #f7df1e, 6888px 5727px #f7df1e,
    4219px 2808px #f7df1e, 6091px 5739px #f7df1e, 715px 328px #f7df1e,
    4294px 6088px #f7df1e, 534px 3033px #f7df1e, 6866px 6151px #f7df1e,
    630px 5007px #f7df1e, 3273px 4281px #f7df1e, 3370px 4363px #f7df1e,
    735px 2756px #f7df1e, 1131px 1827px #f7df1e, 2504px 2635px #f7df1e,
    1207px 5763px #f7df1e, 5648px 2078px #f7df1e, 3217px 4638px #f7df1e,
    6511px 1376px #f7df1e, 1960px 4103px #f7df1e, 4291px 2224px #f7df1e,
    554px 6957px #f7df1e, 1726px 3773px #f7df1e, 131px 3349px #f7df1e,
    1664px 86px #f7df1e, 2220px 775px #f7df1e, 4248px 183px #f7df1e,
    5209px 5222px #f7df1e, 4242px 176px #f7df1e, 3914px 687px #f7df1e,
    5931px 5512px #f7df1e, 2805px 3215px #f7df1e, 2623px 2672px #f7df1e,
    4875px 6810px #f7df1e, 6550px 5434px #f7df1e, 5636px 1599px #f7df1e,
    1311px 4806px #f7df1e, 832px 436px #f7df1e, 3761px 703px #f7df1e,
    1086px 5150px #f7df1e, 4163px 3031px #f7df1e, 3557px 3638px #f7df1e,
    4879px 3734px #f7df1e, 337px 3673px #f7df1e, 240px 214px #f7df1e,
    4642px 2246px #f7df1e, 4946px 3275px #f7df1e, 2534px 3947px #f7df1e,
    2233px 1469px #f7df1e, 5254px 6179px #f7df1e, 2943px 5150px #f7df1e,
    1069px 6434px #f7df1e, 4053px 2227px #f7df1e, 5276px 4657px #f7df1e,
    617px 5887px #f7df1e, 1921px 4631px #f7df1e, 1965px 600px #f7df1e,
    1729px 1271px #f7df1e, 1498px 6669px #f7df1e, 3936px 5596px #f7df1e,
    1253px 3128px #f7df1e, 303px 5870px #f7df1e, 3724px 6536px #f7df1e,
    3786px 2381px #f7df1e, 5361px 2332px #f7df1e, 4316px 5742px #f7df1e,
    6312px 3790px #f7df1e, 1448px 1575px #f7df1e, 2256px 5371px #f7df1e,
    4312px 3621px #f7df1e, 404px 1870px #f7df1e, 4966px 6325px #f7df1e,
    5004px 1540px #f7df1e, 4452px 2454px #f7df1e, 1491px 6707px #f7df1e,
    4470px 60px #f7df1e, 1831px 4613px #f7df1e, 3736px 6085px #f7df1e,
    4269px 1612px #f7df1e, 3165px 2461px #f7df1e, 2072px 2439px #f7df1e,
    6608px 1476px #f7df1e, 146px 1848px #f7df1e, 4832px 1248px #f7df1e,
    1288px 2620px #f7df1e, 2749px 1061px #f7df1e, 773px 1063px #f7df1e,
    6706px 3488px #f7df1e, 4550px 6839px #f7df1e, 2905px 3209px #f7df1e,
    4789px 3761px #f7df1e, 5217px 5231px #f7df1e, 1860px 253px #f7df1e,
    2180px 4414px #f7df1e, 2786px 5293px #f7df1e, 2096px 5903px #f7df1e,
    4342px 5212px #f7df1e, 1643px 5249px #f7df1e, 2624px 585px #f7df1e,
    3177px 473px #f7df1e, 1720px 4084px #f7df1e, 3875px 592px #f7df1e,
    2696px 2441px #f7df1e, 3962px 1634px #f7df1e, 1284px 1597px #f7df1e,
    3581px 3894px #f7df1e, 1320px 2498px #f7df1e, 5529px 3251px #f7df1e,
    5646px 3094px #f7df1e, 3451px 6865px #f7df1e, 1230px 5050px #f7df1e,
    1px 471px #f7df1e, 2612px 5578px #f7df1e, 4252px 4733px #f7df1e,
    4074px 2592px #f7df1e, 6559px 4325px #f7df1e, 4002px 3816px #f7df1e,
    6734px 2179px #f7df1e, 5041px 6884px #f7df1e, 1489px 3269px #f7df1e,
    5222px 5950px #f7df1e, 1007px 6453px #f7df1e, 2188px 4990px #f7df1e,
    484px 4910px #f7df1e, 6737px 232px #f7df1e, 2738px 2046px #f7df1e,
    28px 5565px #f7df1e, 2956px 557px #f7df1e, 4547px 2580px #f7df1e,
    1410px 5383px #f7df1e, 1021px 6844px #f7df1e, 5949px 216px #f7df1e,
    3354px 6820px #f7df1e, 4973px 4564px #f7df1e, 5475px 3235px #f7df1e,
    6223px 1951px #f7df1e, 6108px 2415px #f7df1e, 5366px 3506px #f7df1e,
    2894px 1993px #f7df1e, 4351px 486px #f7df1e, 3958px 2976px #f7df1e,
    6940px 1642px #f7df1e, 5453px 5050px #f7df1e, 2591px 3017px #f7df1e,
    3762px 6501px #f7df1e, 3780px 846px #f7df1e, 1457px 6346px #f7df1e,
    6393px 2995px #f7df1e, 6638px 2339px #f7df1e, 6707px 4604px #f7df1e,
    2156px 288px #f7df1e, 4306px 2346px #f7df1e, 815px 3689px #f7df1e,
    3473px 4306px #f7df1e, 934px 2396px #f7df1e, 4385px 3871px #f7df1e,
    4310px 3189px #f7df1e, 764px 5160px #f7df1e, 4548px 836px #f7df1e,
    5197px 1525px #f7df1e, 2242px 2391px #f7df1e, 646px 730px #f7df1e,
    6656px 2270px #f7df1e, 548px 3251px #f7df1e, 657px 6600px #f7df1e,
    363px 3051px #f7df1e, 1556px 6804px #f7df1e, 4719px 1143px #f7df1e,
    3778px 3160px #f7df1e, 498px 2478px #f7df1e, 3575px 5135px #f7df1e,
    5068px 6235px #f7df1e, 1842px 5111px #f7df1e, 5874px 1363px #f7df1e,
    222px 5552px #f7df1e, 1839px 4655px #f7df1e, 5232px 2023px #f7df1e,
    5120px 5432px #f7df1e, 345px 263px #f7df1e, 3153px 628px #f7df1e,
    4634px 1034px #f7df1e, 5664px 4326px #f7df1e, 859px 898px #f7df1e,
    6285px 6559px #f7df1e, 5195px 4064px #f7df1e, 2387px 5179px #f7df1e,
    2523px 5800px #f7df1e, 2161px 4040px #f7df1e, 1466px 6518px #f7df1e,
    960px 4584px #f7df1e, 1508px 2253px #f7df1e, 5410px 5909px #f7df1e,
    1763px 4436px #f7df1e, 973px 1621px #f7df1e, 6995px 5945px #f7df1e,
    5292px 2249px #f7df1e, 6453px 2608px #f7df1e, 5480px 5017px #f7df1e,
    4972px 3002px #f7df1e, 2931px 2127px #f7df1e, 1369px 1051px #f7df1e,
    3848px 6124px #f7df1e, 6903px 4713px #f7df1e, 6191px 2066px #f7df1e,
    3771px 2802px #f7df1e, 4365px 242px #f7df1e, 3201px 3915px #f7df1e,
    4324px 82px #f7df1e, 4490px 6901px #f7df1e, 2724px 3998px #f7df1e,
    843px 3604px #f7df1e, 4190px 5361px #f7df1e, 2902px 1121px #f7df1e,
    4378px 2102px #f7df1e, 5798px 808px #f7df1e, 5853px 4643px #f7df1e,
    5700px 5869px #f7df1e, 2595px 5846px #f7df1e, 2789px 2229px #f7df1e,
    1250px 2348px #f7df1e, 1163px 6690px #f7df1e, 5657px 2863px #f7df1e,
    1984px 319px #f7df1e, 6264px 757px #f7df1e, 4649px 5688px #f7df1e,
    6393px 733px #f7df1e, 4174px 25px #f7df1e, 6470px 4142px #f7df1e,
    4625px 5128px #f7df1e, 2819px 5452px #f7df1e, 576px 6123px #f7df1e,
    1346px 3735px #f7df1e, 4418px 4449px #f7df1e, 6423px 5455px #f7df1e,
    410px 5009px #f7df1e, 870px 6615px #f7df1e, 1980px 3751px #f7df1e,
    5630px 526px #f7df1e, 2093px 758px #f7df1e, 5876px 3422px #f7df1e,
    2955px 2358px #f7df1e, 6826px 3749px #f7df1e, 5771px 1599px #f7df1e,
    5177px 207px #f7df1e, 6164px 5481px #f7df1e, 6287px 2914px #f7df1e,
    3623px 3455px #f7df1e, 716px 4296px #f7df1e, 2426px 3470px #f7df1e,
    4300px 3677px #f7df1e, 2199px 5847px #f7df1e, 2562px 4469px #f7df1e,
    4610px 4395px #f7df1e, 1499px 5000px #f7df1e, 5847px 6115px #f7df1e,
    2698px 2028px #f7df1e, 4240px 1389px #f7df1e, 5358px 4471px #f7df1e,
    2788px 180px #f7df1e, 3514px 215px #f7df1e, 2114px 4628px #f7df1e,
    2586px 2821px #f7df1e, 3988px 2804px #f7df1e, 6643px 3182px #f7df1e,
    148px 1669px #f7df1e, 3403px 3531px #f7df1e, 3852px 3012px #f7df1e,
    216px 1212px #f7df1e, 1867px 1475px #f7df1e, 4511px 5623px #f7df1e,
    1118px 3646px #f7df1e, 2008px 3412px #f7df1e, 2935px 1989px #f7df1e,
    1526px 3899px #f7df1e, 4285px 3137px #f7df1e, 5254px 5248px #f7df1e,
    229px 5535px #f7df1e, 1369px 203px #f7df1e, 624px 2845px #f7df1e,
    810px 1715px #f7df1e, 1794px 6973px #f7df1e, 6924px 5999px #f7df1e,
    2178px 1676px #f7df1e, 2940px 3035px #f7df1e, 2669px 288px #f7df1e,
    3858px 1446px #f7df1e, 3397px 6765px #f7df1e, 5362px 4349px #f7df1e,
    6022px 3861px #f7df1e, 6036px 4039px #f7df1e, 4181px 6585px #f7df1e,
    1875px 4004px #f7df1e, 328px 1187px #f7df1e, 5133px 6089px #f7df1e,
    5811px 1905px #f7df1e, 2826px 3691px #f7df1e, 2531px 5426px #f7df1e,
    6203px 4016px #f7df1e, 181px 2210px #f7df1e, 1167px 2057px #f7df1e,
    2122px 1753px #f7df1e, 2421px 2223px #f7df1e, 2683px 396px #f7df1e,
    891px 1532px #f7df1e, 4210px 898px #f7df1e, 2239px 3349px #f7df1e,
    1215px 1810px #f7df1e, 1674px 6879px #f7df1e, 6936px 521px #f7df1e,
    6131px 3314px #f7df1e, 2867px 4538px #f7df1e, 513px 1790px #f7df1e,
    1131px 471px #f7df1e, 3653px 1556px #f7df1e, 2617px 4684px #f7df1e,
    2121px 602px #f7df1e, 1254px 295px #f7df1e, 4236px 6333px #f7df1e,
    6386px 6229px #f7df1e, 312px 5332px #f7df1e, 2767px 3682px #f7df1e,
    2571px 4969px #f7df1e, 4328px 3700px #f7df1e, 350px 216px #f7df1e,
    5031px 3583px #f7df1e, 6502px 661px #f7df1e, 3477px 1813px #f7df1e,
    1132px 6216px #f7df1e, 1756px 3790px #f7df1e, 4828px 5463px #f7df1e,
    3484px 5989px #f7df1e, 531px 6211px #f7df1e, 4504px 6813px #f7df1e,
    3068px 4890px #f7df1e, 3014px 5610px #f7df1e, 3445px 4291px #f7df1e,
    6862px 5945px #f7df1e, 3055px 462px #f7df1e, 2607px 1202px #f7df1e,
    4445px 5041px #f7df1e, 2802px 390px #f7df1e, 3338px 677px #f7df1e,
    888px 4881px #f7df1e, 2108px 3920px #f7df1e, 3775px 2004px #f7df1e,
    4356px 4140px #f7df1e, 6109px 2529px #f7df1e, 974px 4638px #f7df1e,
    1451px 2203px #f7df1e, 701px 4306px #f7df1e, 2714px 1545px #f7df1e,
    6997px 3460px #f7df1e, 4531px 4368px #f7df1e, 5442px 449px #f7df1e,
    4762px 4319px #f7df1e, 4690px 796px #f7df1e, 4893px 135px #f7df1e,
    6437px 3038px #f7df1e, 4693px 1193px #f7df1e, 2899px 68px #f7df1e,
    2984px 4287px #f7df1e, 6383px 4477px #f7df1e, 3503px 6008px #f7df1e,
    3793px 3041px #f7df1e, 4741px 4885px #f7df1e, 3546px 6185px #f7df1e,
    3777px 5143px #f7df1e, 232px 2978px #f7df1e, 3400px 2749px #f7df1e,
    3673px 1749px #f7df1e, 5062px 2464px #f7df1e, 4041px 5032px #f7df1e,
    1583px 2218px #f7df1e, 5962px 5960px #f7df1e, 4082px 32px #f7df1e,
    4062px 5893px #f7df1e, 5849px 2398px #f7df1e, 5081px 187px #f7df1e,
    1392px 1957px #f7df1e, 5583px 1478px #f7df1e, 4560px 4701px #f7df1e,
    3710px 565px #f7df1e, 761px 5753px #f7df1e, 294px 4245px #f7df1e,
    2841px 1917px #f7df1e, 3240px 1153px #f7df1e, 6119px 2187px #f7df1e,
    6735px 5151px #f7df1e, 873px 2970px #f7df1e, 5654px 6889px #f7df1e,
    1375px 6557px #f7df1e, 1330px 6728px #f7df1e, 2814px 4840px #f7df1e,
    4772px 3978px #f7df1e, 3020px 1843px #f7df1e, 3177px 4142px #f7df1e,
    3383px 6442px #f7df1e, 6934px 5589px #f7df1e, 3516px 4302px #f7df1e,
    3927px 4034px #f7df1e, 1068px 3357px #f7df1e, 1363px 3079px #f7df1e,
    481px 2510px #f7df1e, 1503px 1960px #f7df1e, 6481px 3474px #f7df1e,
    5908px 5191px #f7df1e, 3418px 4735px #f7df1e, 1650px 4750px #f7df1e,
    84px 1930px #f7df1e, 4930px 6280px #f7df1e, 2008px 553px #f7df1e,
    4107px 5997px #f7df1e, 2602px 250px #f7df1e, 4203px 4940px #f7df1e,
    6152px 5000px #f7df1e;
  height: 2px;
  width: 2px;
}

.doc-stars--lg {
  animation: animateStar 150s linear infinite;
  background: transparent;
  border-radius: 100%;
  box-shadow: 335px 4664px #f5f5f5, 2511px 3401px #f5f5f5, 5172px 5745px #f5f5f5,
    5088px 3522px #f5f5f5, 2947px 1485px #f5f5f5, 41px 6316px #f5f5f5,
    6576px 1179px #f5f5f5, 1718px 2067px #f5f5f5, 6797px 6980px #f5f5f5,
    4725px 5137px #f5f5f5, 5371px 4683px #f5f5f5, 4468px 560px #f5f5f5,
    3689px 3796px #f5f5f5, 691px 5414px #f5f5f5, 3814px 868px #f5f5f5,
    6639px 6119px #f5f5f5, 6976px 1596px #f5f5f5, 4709px 6719px #f5f5f5,
    6001px 2383px #f5f5f5, 3801px 5209px #f5f5f5, 873px 3651px #f5f5f5,
    6260px 6278px #f5f5f5, 2379px 1101px #f5f5f5, 1405px 440px #f5f5f5,
    5824px 599px #f5f5f5, 1632px 2419px #f5f5f5, 2753px 4940px #f5f5f5,
    1653px 6378px #f5f5f5, 1017px 4460px #f5f5f5, 2033px 3715px #f5f5f5,
    6760px 6117px #f5f5f5, 4681px 2398px #f5f5f5, 84px 931px #f5f5f5,
    3067px 143px #f5f5f5, 2075px 3858px #f5f5f5, 1884px 1397px #f5f5f5,
    4721px 4705px #f5f5f5, 1007px 1620px #f5f5f5, 2972px 5868px #f5f5f5,
    337px 2556px #f5f5f5, 4196px 1716px #f5f5f5, 5540px 812px #f5f5f5,
    2159px 3245px #f5f5f5, 4060px 5283px #f5f5f5, 2301px 5646px #f5f5f5,
    4582px 3163px #f5f5f5, 5700px 45px #f5f5f5, 1992px 6587px #f5f5f5,
    2489px 2254px #f5f5f5, 4981px 4280px #f5f5f5, 6771px 4102px #f5f5f5,
    4933px 1992px #f5f5f5, 1044px 4462px #f5f5f5, 4785px 5611px #f5f5f5,
    995px 830px #f5f5f5, 431px 2215px #f5f5f5, 2815px 3657px #f5f5f5,
    2836px 6391px #f5f5f5, 1349px 808px #f5f5f5, 1134px 4087px #f5f5f5,
    2337px 1733px #f5f5f5, 5242px 5243px #f5f5f5, 84px 1228px #f5f5f5,
    5341px 2080px #f5f5f5, 4080px 1168px #f5f5f5, 5914px 1523px #f5f5f5,
    717px 6872px #f5f5f5, 3311px 4385px #f5f5f5, 4109px 3801px #f5f5f5,
    2667px 4654px #f5f5f5, 1550px 3373px #f5f5f5, 6615px 4462px #f5f5f5,
    1037px 4790px #f5f5f5, 290px 2685px #f5f5f5, 5070px 2909px #f5f5f5,
    4709px 6997px #f5f5f5, 5631px 5451px #f5f5f5, 2840px 6086px #f5f5f5,
    3324px 5047px #f5f5f5, 6656px 2339px #f5f5f5, 5043px 6683px #f5f5f5,
    1928px 658px #f5f5f5, 5239px 1872px #f5f5f5, 6122px 4050px #f5f5f5,
    6123px 5902px #f5f5f5, 5828px 4394px #f5f5f5, 1092px 191px #f5f5f5,
    6351px 3765px #f5f5f5, 4649px 5469px #f5f5f5, 1919px 4676px #f5f5f5,
    312px 2431px #f5f5f5, 594px 6299px #f5f5f5, 4447px 6151px #f5f5f5,
    1629px 4807px #f5f5f5, 2704px 916px #f5f5f5, 6246px 721px #f5f5f5,
    1472px 513px #f5f5f5, 2094px 5172px #f5f5f5, 1052px 5547px #f5f5f5,
    2736px 3524px #f5f5f5, 226px 4919px #f5f5f5, 5485px 5512px #f5f5f5,
    2503px 2232px #f5f5f5, 1687px 3496px #f5f5f5, 700px 2399px #f5f5f5,
    827px 2710px #f5f5f5, 265px 4132px #f5f5f5, 2441px 2119px #f5f5f5,
    2741px 5051px #f5f5f5, 1535px 957px #f5f5f5, 3164px 4866px #f5f5f5,
    5827px 2693px #f5f5f5, 2035px 802px #f5f5f5, 6549px 5233px #f5f5f5,
    4286px 108px #f5f5f5, 910px 4598px #f5f5f5, 5107px 6236px #f5f5f5,
    4556px 2613px #f5f5f5, 6078px 3837px #f5f5f5, 483px 6663px #f5f5f5,
    276px 1576px #f5f5f5, 6444px 6637px #f5f5f5, 2571px 6578px #f5f5f5,
    4747px 3134px #f5f5f5, 5868px 6033px #f5f5f5, 2504px 1540px #f5f5f5,
    3600px 5070px #f5f5f5, 3430px 4356px #f5f5f5, 1390px 3710px #f5f5f5,
    1242px 5391px #f5f5f5, 3055px 5098px #f5f5f5, 1328px 3802px #f5f5f5,
    2548px 855px #f5f5f5, 6273px 3060px #f5f5f5, 4166px 3394px #f5f5f5,
    6599px 2076px #f5f5f5, 2829px 3061px #f5f5f5, 4617px 1222px #f5f5f5,
    1112px 6364px #f5f5f5, 701px 3951px #f5f5f5, 4793px 6773px #f5f5f5,
    5359px 1408px #f5f5f5, 4159px 4602px #f5f5f5, 4132px 2522px #f5f5f5,
    1188px 2800px #f5f5f5, 6969px 2585px #f5f5f5, 254px 3360px #f5f5f5,
    2188px 5373px #f5f5f5, 1249px 6067px #f5f5f5, 6596px 6243px #f5f5f5,
    2063px 2916px #f5f5f5, 2582px 2963px #f5f5f5, 4401px 3130px #f5f5f5,
    5171px 4631px #f5f5f5, 2252px 4221px #f5f5f5, 3062px 1497px #f5f5f5,
    2429px 6386px #f5f5f5, 5579px 553px #f5f5f5, 6462px 2612px #f5f5f5,
    6155px 6314px #f5f5f5, 4966px 490px #f5f5f5, 5689px 4384px #f5f5f5,
    3880px 6770px #f5f5f5, 31px 2058px #f5f5f5, 1485px 2109px #f5f5f5,
    5272px 831px #f5f5f5, 6340px 4953px #f5f5f5, 1453px 6301px #f5f5f5,
    3851px 857px #f5f5f5, 2883px 3527px #f5f5f5, 5296px 2290px #f5f5f5,
    2365px 5361px #f5f5f5, 3717px 4451px #f5f5f5, 2300px 6594px #f5f5f5,
    6806px 2826px #f5f5f5, 2870px 5385px #f5f5f5, 3534px 5022px #f5f5f5,
    1057px 4630px #f5f5f5, 3507px 2690px #f5f5f5, 194px 3109px #f5f5f5,
    5154px 193px #f5f5f5, 4820px 3499px #f5f5f5, 5730px 629px #f5f5f5,
    3585px 5254px #f5f5f5, 3720px 2858px #f5f5f5, 2398px 626px #f5f5f5,
    1274px 3515px #f5f5f5, 1738px 2702px #f5f5f5, 3655px 1201px #f5f5f5,
    6406px 2196px #f5f5f5, 527px 1614px #f5f5f5, 2437px 2751px #f5f5f5,
    6814px 3090px #f5f5f5, 1221px 4992px #f5f5f5, 1263px 6432px #f5f5f5,
    6814px 5996px #f5f5f5, 1556px 705px #f5f5f5, 708px 1693px #f5f5f5,
    88px 3911px #f5f5f5, 3317px 6386px #f5f5f5, 2207px 1214px #f5f5f5,
    3566px 5879px #f5f5f5, 225px 4120px #f5f5f5, 1896px 5103px #f5f5f5,
    392px 5250px #f5f5f5, 2926px 6425px #f5f5f5, 6569px 2058px #f5f5f5,
    2241px 916px #f5f5f5, 3646px 1129px #f5f5f5, 4632px 5735px #f5f5f5,
    5201px 4144px #f5f5f5, 4752px 2667px #f5f5f5, 1638px 2854px #f5f5f5,
    2659px 1560px #f5f5f5, 3377px 2888px #f5f5f5, 4032px 2885px #f5f5f5,
    3175px 2786px #f5f5f5, 6602px 970px #f5f5f5, 472px 5848px #f5f5f5,
    394px 6665px #f5f5f5, 3413px 311px #f5f5f5, 6017px 4547px #f5f5f5,
    2063px 4266px #f5f5f5, 562px 1450px #f5f5f5, 5117px 4272px #f5f5f5,
    2958px 5893px #f5f5f5, 4058px 5144px #f5f5f5, 3767px 3665px #f5f5f5,
    147px 184px #f5f5f5, 6124px 3953px #f5f5f5, 5800px 6700px #f5f5f5,
    688px 1618px #f5f5f5, 1160px 2389px #f5f5f5, 2562px 2541px #f5f5f5,
    1086px 1766px #f5f5f5, 3118px 2220px #f5f5f5, 6495px 1530px #f5f5f5,
    4197px 3959px #f5f5f5, 4918px 2591px #f5f5f5, 4310px 1115px #f5f5f5,
    3908px 6716px #f5f5f5, 5289px 4306px #f5f5f5, 3899px 1734px #f5f5f5,
    1709px 159px #f5f5f5, 5602px 4331px #f5f5f5, 4828px 6144px #f5f5f5,
    415px 4436px #f5f5f5, 4611px 5116px #f5f5f5, 4934px 525px #f5f5f5,
    1144px 1075px #f5f5f5, 920px 1745px #f5f5f5, 4516px 6370px #f5f5f5,
    600px 589px #f5f5f5, 408px 815px #f5f5f5, 2816px 3417px #f5f5f5,
    5082px 5406px #f5f5f5, 753px 138px #f5f5f5, 677px 1597px #f5f5f5,
    1232px 3697px #f5f5f5, 3609px 2293px #f5f5f5, 2820px 1048px #f5f5f5,
    5521px 6880px #f5f5f5, 2105px 4724px #f5f5f5, 618px 2233px #f5f5f5,
    5204px 2250px #f5f5f5, 4239px 4662px #f5f5f5, 3303px 6799px #f5f5f5,
    2723px 4766px #f5f5f5, 1669px 4715px #f5f5f5, 6684px 1643px #f5f5f5,
    1020px 3428px #f5f5f5, 3205px 1184px #f5f5f5, 6503px 5489px #f5f5f5,
    6107px 6101px #f5f5f5, 6097px 2973px #f5f5f5, 556px 1344px #f5f5f5,
    102px 5208px #f5f5f5, 3687px 6260px #f5f5f5, 1480px 6842px #f5f5f5,
    6240px 4921px #f5f5f5, 1646px 3392px #f5f5f5, 2643px 1919px #f5f5f5,
    705px 6024px #f5f5f5, 510px 1842px #f5f5f5, 4632px 3608px #f5f5f5,
    6584px 2505px #f5f5f5, 5357px 472px #f5f5f5, 5865px 3131px #f5f5f5,
    957px 3097px #f5f5f5, 5826px 1055px #f5f5f5, 1018px 3125px #f5f5f5,
    1669px 4054px #f5f5f5, 6362px 3642px #f5f5f5, 349px 6868px #f5f5f5,
    6692px 6730px #f5f5f5, 2397px 1260px #f5f5f5, 1371px 2108px #f5f5f5,
    3040px 2950px #f5f5f5, 6641px 3114px #f5f5f5, 2306px 2158px #f5f5f5,
    5094px 4284px #f5f5f5, 3616px 2846px #f5f5f5, 4794px 469px #f5f5f5,
    590px 1690px #f5f5f5, 752px 1136px #f5f5f5, 4082px 555px #f5f5f5,
    2531px 2023px #f5f5f5, 6606px 5154px #f5f5f5, 413px 1671px #f5f5f5,
    3461px 2832px #f5f5f5, 2215px 975px #f5f5f5, 4924px 6623px #f5f5f5,
    4657px 1619px #f5f5f5, 3668px 911px #f5f5f5, 3184px 2616px #f5f5f5,
    1960px 4857px #f5f5f5, 5729px 6617px #f5f5f5, 3005px 2599px #f5f5f5,
    4373px 2470px #f5f5f5, 4036px 3872px #f5f5f5, 1146px 4909px #f5f5f5,
    2355px 3591px #f5f5f5, 6085px 951px #f5f5f5, 5610px 2574px #f5f5f5,
    2195px 3428px #f5f5f5, 6332px 3053px #f5f5f5, 3962px 2912px #f5f5f5,
    497px 1673px #f5f5f5, 5092px 2090px #f5f5f5, 5559px 533px #f5f5f5,
    5444px 3887px #f5f5f5, 4913px 1028px #f5f5f5, 4804px 4672px #f5f5f5,
    3247px 6303px #f5f5f5, 3252px 5444px #f5f5f5, 2758px 714px #f5f5f5,
    4112px 1124px #f5f5f5, 2957px 3275px #f5f5f5, 911px 2887px #f5f5f5,
    216px 6100px #f5f5f5, 1745px 5534px #f5f5f5, 5380px 4947px #f5f5f5,
    3127px 6530px #f5f5f5, 240px 2569px #f5f5f5, 5919px 2458px #f5f5f5,
    542px 6834px #f5f5f5, 1355px 4570px #f5f5f5, 1085px 6028px #f5f5f5,
    4979px 3157px #f5f5f5, 1785px 5049px #f5f5f5, 3122px 4426px #f5f5f5,
    5154px 5376px #f5f5f5, 258px 6735px #f5f5f5, 743px 5931px #f5f5f5,
    863px 5332px #f5f5f5, 2072px 4651px #f5f5f5, 3426px 603px #f5f5f5,
    2073px 5025px #f5f5f5, 4588px 4259px #f5f5f5, 1702px 159px #f5f5f5,
    5051px 2018px #f5f5f5, 5359px 2653px #f5f5f5, 1214px 1833px #f5f5f5,
    5706px 2169px #f5f5f5, 5054px 3274px #f5f5f5, 4940px 6748px #f5f5f5,
    2880px 3006px #f5f5f5, 1959px 5182px #f5f5f5, 95px 4268px #f5f5f5,
    2140px 123px #f5f5f5, 2858px 6202px #f5f5f5, 4819px 4804px #f5f5f5,
    751px 3113px #f5f5f5, 635px 4049px #f5f5f5, 4810px 5801px #f5f5f5,
    628px 5482px #f5f5f5, 5057px 5970px #f5f5f5, 4210px 4380px #f5f5f5,
    5514px 2109px #f5f5f5, 2355px 3964px #f5f5f5, 2802px 4121px #f5f5f5,
    4193px 2848px #f5f5f5, 3522px 3200px #f5f5f5, 1642px 1375px #f5f5f5,
    5794px 5416px #f5f5f5, 320px 3587px #f5f5f5, 5961px 2744px #f5f5f5,
    2339px 6918px #f5f5f5, 756px 3114px #f5f5f5, 656px 3959px #f5f5f5,
    395px 6448px #f5f5f5, 1179px 5919px #f5f5f5, 2716px 6450px #f5f5f5,
    2383px 2336px #f5f5f5, 6027px 4402px #f5f5f5, 6508px 761px #f5f5f5,
    6326px 2777px #f5f5f5, 4755px 6840px #f5f5f5, 5393px 2382px #f5f5f5,
    2527px 5719px #f5f5f5, 4603px 3590px #f5f5f5, 3967px 5987px #f5f5f5,
    3579px 1071px #f5f5f5, 6810px 6054px #f5f5f5, 3510px 1974px #f5f5f5,
    5532px 2060px #f5f5f5, 5116px 6800px #f5f5f5, 216px 6646px #f5f5f5,
    3668px 2942px #f5f5f5, 4602px 512px #f5f5f5, 6729px 1659px #f5f5f5,
    3076px 876px #f5f5f5, 1557px 6671px #f5f5f5, 3629px 983px #f5f5f5,
    3649px 6739px #f5f5f5, 6835px 493px #f5f5f5, 6200px 5744px #f5f5f5,
    4584px 5663px #f5f5f5, 3477px 5341px #f5f5f5, 2814px 6443px #f5f5f5,
    6281px 1463px #f5f5f5, 2686px 6321px #f5f5f5, 2057px 4633px #f5f5f5,
    1154px 3473px #f5f5f5, 536px 6019px #f5f5f5, 6779px 338px #f5f5f5,
    3521px 1641px #f5f5f5, 6848px 2320px #f5f5f5, 3965px 3964px #f5f5f5,
    5514px 5882px #f5f5f5, 2475px 6926px #f5f5f5, 808px 2128px #f5f5f5,
    463px 4882px #f5f5f5, 1889px 3192px #f5f5f5, 4166px 6109px #f5f5f5,
    3814px 2835px #f5f5f5, 2926px 2845px #f5f5f5, 3058px 211px #f5f5f5,
    6292px 1217px #f5f5f5, 1350px 4801px #f5f5f5, 2650px 4608px #f5f5f5,
    4057px 4064px #f5f5f5, 4207px 3705px #f5f5f5, 797px 3496px #f5f5f5,
    1757px 2141px #f5f5f5, 2639px 517px #f5f5f5, 3402px 2815px #f5f5f5,
    2831px 2063px #f5f5f5, 1271px 6405px #f5f5f5, 2821px 293px #f5f5f5,
    6037px 4877px #f5f5f5, 6232px 5397px #f5f5f5, 830px 5853px #f5f5f5,
    4833px 5493px #f5f5f5, 2005px 1597px #f5f5f5, 6591px 4922px #f5f5f5,
    1195px 95px #f5f5f5, 6285px 4091px #f5f5f5, 5031px 4341px #f5f5f5,
    100px 6543px #f5f5f5, 3402px 694px #f5f5f5, 5844px 351px #f5f5f5,
    4432px 236px #f5f5f5, 4032px 2px #f5f5f5, 82px 6912px #f5f5f5,
    1654px 2048px #f5f5f5, 5735px 6524px #f5f5f5, 2550px 6081px #f5f5f5,
    1375px 177px #f5f5f5, 6860px 2426px #f5f5f5, 5465px 5890px #f5f5f5,
    2221px 2606px #f5f5f5, 2277px 497px #f5f5f5, 4872px 6437px #f5f5f5,
    6300px 1449px #f5f5f5, 2713px 4911px #f5f5f5, 11px 1857px #f5f5f5,
    1117px 6456px #f5f5f5, 6639px 3577px #f5f5f5, 849px 6894px #f5f5f5,
    4710px 5954px #f5f5f5, 3824px 1604px #f5f5f5, 2366px 4883px #f5f5f5,
    4727px 1795px #f5f5f5, 3641px 6414px #f5f5f5, 3188px 1569px #f5f5f5,
    6452px 4977px #f5f5f5, 5143px 3562px #f5f5f5, 6113px 5408px #f5f5f5,
    6504px 2457px #f5f5f5, 6197px 2848px #f5f5f5, 508px 4921px #f5f5f5,
    1358px 5853px #f5f5f5, 2532px 4013px #f5f5f5, 216px 5939px #f5f5f5,
    1773px 4763px #f5f5f5, 6905px 5367px #f5f5f5, 4284px 1914px #f5f5f5,
    4184px 3863px #f5f5f5, 4076px 575px #f5f5f5, 6741px 3644px #f5f5f5;
  height: 3px;
  width: 3px;
}

body.body--light .doc-stars {
  display: none;
}

@keyframes animateStar {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(-3500px);
  }
}
